<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ////// -->

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-65YRESBJ6L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-65YRESBJ6L');
    </script>


    <!-- //////// -->
    <script
      src="https://kit.fontawesome.com/0c608f6c6b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/homeStyle.css" />
    <title>CSV Uploader</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div id="heading">
          <i class="fa-solid fa-file-csv fa-beat" id="icon"></i>
          <h1 id="titleHeading">CSV Uploader</h1>
        </div>
      </header>

      <main id="addFileSection">
           <div>
              <form action="/uploadsCSV" method="post" enctype="multipart/form-data" id="form-section">
                <label for="csvFile"> Upload file here... </label>
                <input type="file" id="fileInput" name="csvFile" accept=".csv"  />
                <button id="uploadBtn"> <i class="fa-solid fa-upload"></i> </button>
              </form>
           </div>

           
           <h1 id="listTitle">List of Uploaded CSV Files</h1>

            <div id="fileDetails">
              
              <table>

                <tr id="tableHeading">
                    <th> File Name </th>
                    <th> View </th>
                    <th> Created Date </th>
                    <th> </th>
                </tr>
                
                <% files.forEach(file => { %>
                  <tr>
                    <!-- <a href="<%= file.filePath %>"> <%= file.filePath %> </a> -->
                    <td style="width: 70% ;"> 
                      <h4> <%= file.fileName %> </h4>
                    </td>

                    <td style="width: 10%;"">
                      <a href="/viewCSV/<%= file._id %>">  <i class="fas fa-file"></i> View Document </a>
                    </td>

                     <td style="width: 15%;">
                        <%- (() => {
                          const date = new Date(file.createdAt);
                          date.setHours(date.getUTCHours() + 5);
                          date.setMinutes(date.getUTCMinutes() + 30);
                          return date.toString().slice(0, 25);
                        })() %>
                     </td>

                    <td style="width: 5% ;">
                      <form action="/deleteCSV/?id=<%- file._id %>" method="post">
                          <button style="border: none; cursor: pointer;">
                             <i class="fa-solid fa-trash fa-xs" style="position: relative;color: #ac1111;font-size:20px; top:5px "> </i>
                          </button>
                      </form>
                    </td>
                  </tr>
                <% }); %>
                    
              </table>

            </div>
      </main>
    </div>

    
  </body>
</html>
