<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CSV File Data</title>
</head>
<body>
    
    <div id="mainContainer">
        <div id="topArea">
            <button id="btn"> <a href="/">Back to list</a> </button>
            <h1 id="fileName">Content of <%= file.fileName %> file</h1>
        </div>

        <input id="searchData" type="text" placeholder="Search here..." />

        <div id="tableInfo">
            <table id="tableID" border="1">
                <thead>
                    <tr>
                        <% if (data.length > 0) { %>
                            <% Object.keys(data[0]).forEach(header => { %>
                                <th><%= header %></th>
                            <% }); %>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(row => { %>
                        <tr>
                            <% Object.values(row).forEach(value => { %>
                                <td><%= value %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="/viewCSV/<%= file._id %>?page=<%= currentPage - 1 %>&limit=50">Previous</a>
            <% } %>
            <span>Page <%= currentPage %> of <%= totalPages %></span>
            <% if (currentPage < totalPages) { %>
                <a href="/viewCSV/<%= file._id %>?page=<%= currentPage + 1 %>&limit=50">Next</a>
            <% } %>
        </div>
    </div>

    <script>
       const dataFromServer = <%- JSON.stringify(allData) %>
    </script>

    <script src="/javascript_file/script.js"></script>
</body>
</html>
